.chat-head-container {
	display: flex;
	flex-direction: column;
}
.chat-head {
	position: relative;
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.scroller
{
	width: 100%;
}

.message-right {
	float: right;
	padding-top: 10px;
	padding-right: 25px;
}

.message-left {
	float: left;
	padding-top: 10px;
	padding-left: 25px;
}

.test {
	display: flexbox;
}

.chat-selected {
	border:1px solid blue;
}

.attachment:hover{
	color: blue;
}

// input {
// 	max-height: 7vh;
// }
