
<div class="grid">

  <div class="chat-head-container">
    <div class="chat-head" *ngFor="let user of userList" [ngClass]="{'chat-selected': this.selectedSurgeonId == user.id}" (click)="setSelectedSurgeonId(user.id)" >
      <p-avatar [image]="user.imageUrl" styleClass="mr-2" size="xlarge" shape="circle">
      </p-avatar>
      <label [textContent]="user.firstName + ' ' + user.lastName"></label>
    </div>
  </div>

  <div class="chat col">

    <div class="card flex row">
      <p-virtualScroller [value]="messageList" class="scroller border-1 surface-border border-round" scrollHeight="650px" [itemSize]="50">

        <ng-template pTemplate="message" let-message>

          <div *ngIf="userRole==='USER'" class="chat-bubble" [ngClass]="{'message-right': !message.sentBySurgeon, 'message-left': message.sentBySurgeon}">
            
            <div *ngIf="message.docId ===null">{{ message.text }}</div>
            
            <div class="attachment" *ngIf="message.docId !==null" (click)="downloadAttachment(message.docId, message.text)">
                <i class="pi pi-file"></i>
                {{ message.text }}
            </div>

          </div>

          <div *ngIf="userRole==='SURGEON'" class="chat-bubble" [ngClass]="{'message-right': message.sentBySurgeon, 'message-left': !message.sentBySurgeon}">
            <div>{{ message.text }}</div>
          </div>

        </ng-template>

      </p-virtualScroller>
  </div>

  <div class="message-bar row mr-auto">

    <button *ngIf="this.chatVisible" class="p-button-rounded p-button-text" (click)="sendMessage(null)" pButton pRipple type="button" icon="pi pi-send" ></button>

    <input *ngIf="this.chatVisible" [(ngModel)]="this.textMessage" pInputText placeholder="Type a message" />

    <p-fileUpload #form *ngIf="this.chatVisible" mode="basic" chooseLabel="Choose" name="file" (uploadHandler)="onUpload($event, form)" [customUpload]="true"></p-fileUpload>

  </div>

</div>
