<div class="flexbox" *ngFor="let surgeon of surgeonList | async">

  <div class="flexbox-item">
    <p-card [header]="surgeon.userBody.firstName + ' ' + surgeon.userBody.lastName" [subheader]="surgeon.title" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" [src]="surgeon.userBody.imageUrl"/>
      </ng-template>
      
      <p-rating [(ngModel)]="surgeon.rating" [stars]="5" [cancel]="false" [readonly]="true"></p-rating>
      <p [textContent]="surgeon.description"></p>

      <ng-template pTemplate="footer">
        <p-button label="Send Message" icon="pi pi-comment" (onClick)="sendMessageRedirect(surgeon.id)"></p-button>
      </ng-template>

    </p-card>
  </div>
</div>